@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto-con';
  src: url('../fonts/roboto-condensed-v25-cyrillic_latin-700italic.woff') format('woff'), url('../fonts/roboto-condensed-v25-cyrillic_latin-700italic.woff2') format('woff2');
}