$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
  font-family: 'Roboto';
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.logo1 {
  width: 10em;
}

.logo2 {
  width: 20em;
}

.logo3 {
  width: 10em;
}

.h1 {
  color: rgba(82, 7, 7, 0.759);
  animation: gogo 3s infinite alternate ;
}

@keyframes gogo {
  0%   {background-color: red; transform: scaleX(0.9);}
  25%  {background-color: yellow; transform: rotate(40deg);}
  50%  {background-color: blue; transform: scaleX(0.4);}
  100% {background-color: green; transform: rotate(-140deg);}
}